/* universal selector for all types of elements in the index.html file */
* {
  box-sizing: border-box;
  /* font for all text */
  font-family: sans-serif;
}

/* body of entire webpage- slightly darker background color instead of pure white, with 0 margin around border */
body {
  background-color: #ededed;
  margin: 0;
}

/* --- HOME (INDEX) PAGE --- */
/* defining header properties such as the position, height, width, and color */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  padding: 20px 3%;
  background: rgb(2, 104, 148);
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* removes underline from all the links inside the navbar and header */
.header a {
  text-decoration: none;
}

/* style for my name in the navbar */
.name {
  white-space: nowrap; /* links stay on same line */
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  padding: 0 1em;
  will-change: filter;
  transition: filter 300ms;
  flex-basis: 300px;
}

/* style for the navbar in the header */
.navbar {
  white-space: nowrap; /* links stay on same line */
  display: flex;
  /* fills remaining space in the navbar */
  flex-grow: 8;
  align-items: center;
  /* aligns the links to the right */
  justify-content: flex-end;
}

/* style for each navbar link */
.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  /* font-weight: 100; */
  margin-left: 55px;
}

/* hover effect for the navbar links */
/* shows underline animation under the link each time the user moves his mouse over it */
.navbar a::before {
  content: "";
  position: absolute;
  /* positioned set below the link */
  top: 100%;
  /* begins from the left of the link */
  left: 0;
  width: 0;
  /* thickness of the underline animation */
  height: 2px;
  /* color of underline animation */
  background: #ffffffaf;
  /* smooth transition for hover of 0.3s */
  transition: 0.3s;
}

/* expands the underline to full when hovered over link */
.navbar a:hover::before {
  width: 100%;
}

.navbar a,
.dropdown_menu li a {
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #333;
  /* font-style: italic; */
  font-weight: 600;
}

.nav-link.active {
  /* text-decoration: underline; */
  font-style: italic;
  color: #f7fff6a6;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin: 3% 35px;
}

.info-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border: 2px solid #c6c6c6;
  border-radius: 15px;
  margin: 0 20px;
}

.home-text {
  background-color: #a5e2e323;
  border-radius: 20px;
  padding: 25px;
  width: 100%;
  font-size: 23px;
  color: #333;
  line-height: 1.4;
}

/* style for the beach image */
.beach-image {
  background: url(images/home/pretty-beach-5e5g29dp3opyakdx.jpg);
  background-size: cover;
  background-position: center;
  height: 350px;
  width: 100%;
  margin-top: 70px;
  border-bottom: 3px solid rgba(0, 86, 123, 0.459);
}

/* style for the article content with paragraphs */
article {
  margin: 20px auto;
  font-size: 18px;
  width: 800px;
  max-width: 100%;
  text-align: center;
}

/* style for the div element inside the article */
/* '>' shows that the article is prioritized over the div when it is not nested */
article > div {
  padding: 15px 10%;
  border-width: 3px;
  border-style: solid;
}

/* RESPONSIVE BUTTON NAVBAR  */
.toggle_btn {
  display: none;
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
}

/* --- DROPDOWN MENU --- */
.dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(2, 104, 148, 0.42);
  /* blur effect for background */
  backdrop-filter: blur(15px);
  border-radius: 20px;
  overflow: hidden;
  /* transition when opening menu */
  transition: height 0.3s cubic-bezier(1, 0, 0, 1);
}

.dropdown_menu a {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

/* expanded height when menu is open */
.dropdown_menu.open {
  height: 345px;
}

/* properties for each list item */
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

/* RESPONSIVE DESIGNS for smaller screens */
@media (max-width: 992px) {
  /* hiding navbar links in mobile view */
  .navbar nav {
    display: none;
  }

  /* show toggle button */
  .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }
}

/* smaller mobile screens */
@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

/* reduce height of beach image */
@media (max-width: 768px) {
  .beach-image {
    height: 200px;
  }
}

@media (max-width: 992px) {
  .family-1 {
    height: 200px;
  }

  .friends-1-2 {
    height: 200px;
  }
}

/* --- SKILLS PAGE --- */
.skills-images {
  background-size: cover;
  height: 600px;
  width: 100%;
  background-position: center;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.792);
}

/* overlay skills images with text */
.skills-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.527);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  width: 80%;
  max-width: 800px;
  margin: auto;
  margin-top: 7%;
}

.skills-title {
  font-size: 36px;
  margin-bottom: 20px;
  font-style: italic;
}

.skills-table {
  margin: 20px 0;
  border-collapse: collapse;
  width: 100%;
}

/* specific styles for table headers and cells */
.skills-overlay th,
.skills-overlay td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.838);
  border: 1.5px solid #1f1818;
  text-align: center;
}

/* styling for table header */
.skills-overlay th {
  font-weight: bold;
}

/* specific heading styles */
.skills-overlay h3 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

/* paragraph specificity for the texts sections */
.texts-sections p {
  font-size: 22px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.815);
  border: 1.5px solid #1f1818;
  border-radius: 10px;
}

/* Additional styling for the overlay text */
.texts-sections {
  margin-top: 12%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.527);
  padding: 30px;
  border-radius: 18px;
  backdrop-filter: blur(2.5px);
  text-align: center;
  line-height: 1.4;
}

/* adjusted scrolling position to prevent covered content */
section {
  scroll-margin-top: 100px;
}

/* prevent body scrolling when modal is open */
.no-scroll {
  overflow: hidden;
}

/* --- PHOTOS PAGE --- */
/* background and layout for first family image (puerto vallarta) */
.family-1 {
  background: url(images/photos/IMG_3560.JPEG);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 550px;
  width: 100%;
  margin-top: 75px;
  padding: 0 20px;
  border: 3px solid #f3ededa3;
}

/* specific styles for overlay text */
.family-1 .overlap-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-shadow: 2px 2px 4px rgba(125, 87, 87, 0.76);
  white-space: nowrap;
}

/* container styles for friends section */
.f-container {
  display: flex;
  justify-content: space-between;
  margin: 3% 35px;
}

/* wrapper for each card (or overall image) */
.friends-wrapper {
  flex: 1;
  padding: 20px;
  background-color: #d9d7d7af;
  border: 4px solid #c6b9b9a0;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  margin: 0 25px;
  position: relative;
}

/* transition for images moving when mouse is hovered over */
.friends-wrapper:hover .friends-images {
  transform: scale(1.035);
}

/* image styling within each wrapper */
.friends-images {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 400px;
  width: 100%;
  position: relative;
  transition: transform 0.3s ease;
}

/* basic text overlay for images */
.overlap-text {
  position: absolute;
  margin: 15px;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.607);
  z-index: 1;
  font-weight: bold;
  background-color: rgba(223, 227, 221, 0.432);
  padding: 10px;
  border-radius: 10px;
}

/* general fade-in transition class */
.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

/* initial hidden state */
.fade-init {
  opacity: 0;
  transform: translateY(20px);
}

/* --- Hobbies Page --- */
.hobbies .friends-wrapper {
  margin-top: 80px;
}

/* --- MODAL CONTAINER FOR CONTACT INFO --- */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: rgb(255, 255, 255);
  margin: 15% auto;
  padding: 25px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-30px);
}

.modal.show .modal-content {
  transform: translateY(0);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contact-icon {
  width: 20px;
  height: auto;
  margin-right: 8px;
  vertical-align: middle;
}

/* --- IMPORTANT EVENTS PAGE --- */
/* timeline container */
.timeline {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 8%;
  margin-bottom: 3%;
  background-color: #bfcbcb0f;
}

/* timeline event container */
.timeline-event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

/* timeline content box */
.timeline-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 25px;
  background-color: rgba(137, 192, 216, 0.336);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.185);
  width: 100%;
  max-width: 500px;
}

/* Vertical line for timeline */
.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #54676b66;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.timeline.fade-in:before {
  opacity: 1;
  transform: translateY(0);
}

/* position content alternately left & right */
.timeline-event:nth-child(even) .timeline-content {
  order: 2;
}
/* align content to left for 1 & 3 */
.timeline-event:nth-child(odd) .timeline-content {
  align-items: flex-start;
}
/* align content to right for 2 & 4 */
.timeline-event:nth-child(even) .timeline-content {
  align-items: flex-end;
}
/* for all even numbered */
.timeline-event:nth-child(even) {
  justify-content: flex-end;
}

/* style for image */
.timeline-content img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

/* .timeline-content img:hover {
  transform: scale(1.035);
  transition: transform 0.3s ease;
} */

.timeline-content img {
  transition: transform 0.3s ease;
}

.timeline-content img:hover {
  transform: scale(1.035);
}
